body {
	background-color: #4F94CD;
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', 'Î¢ÈíÑÅºÚ', Arial, sans-serif;
	color: white;
	
}

.top_title {
	text-align: left;
	font-size: 30px;
	margin-top: 25px;
	position: absolute;
}

.top_user {
	text-align: right;
	font-size: 10px;
}